.main{
    padding-left: 18.4px;
    padding-right: 18.4px;
    padding-top: 17.6px;
    padding-bottom: 17.6px;
    background-color: #C11CA6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: inherit;
}

.main p {
    font-size: 11px;
    font-weight: 400;
    color: #C7C7CC;
    letter-spacing: 0.00938em;
    line-height: 1.5;
}

.user{
    display: flex;
    flex-direction: row;
}

.user p{
    align-items: flex-end;
    margin-left: 16px;
    padding-top: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #FAFAFA;
    letter-spacing: 0.00938em;
    line-height: 1.5;
}

.avatar{
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background: #351A59;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.user img{
    max-width: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}