@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  background: #000000;
  color: #fcfcfc;
  font-family: 'Lobster', cursive;
}

a{
  color: rgb(78, 101, 202);
  text-decoration: none;
  justify-content: start;
  display: right;

}

.content{
  max-width: auto;
  margin:  auto;
}

.nav{
  margin:  5px auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px solid #ffffff;
}

.nav a:not(:first-child){
  margin-left:20px;
  justify-content: flex-start;
}

.footer{
  display: block;
  text-align: center;
  padding: auto;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  border-top: 1px solid #ffffff;
}