.howtoplay{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #0b0e11;
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
    box-sizing: border-box;
}

.container{
    position: relative;
    margin: auto;
    max-width: 1528px;
    overflow: hidden;
}

.title{
    scale: 1;
    transition: all 2s ease-in-out;
    font-size: 10.8;
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding-bottom: 10rem;
}

.zoom-in > div {
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-bottom: 3rem;
    line-height: 4.1rem;
}

/* Phone */
.phone{
    width: 100% !important;
    display: flex;
    flex-wrap: nowrap;
}

.phone > div{
    /* transform: translateX(0);
    transition: all .5 ease-in-out; */
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
}   

.phone > div > img {
    object-fit: contain;
    height: 450px!important;
    padding: 3rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
    vertical-align: middle;
    box-sizing: border-box;
    overflow: clip;
}

.phone > div > p{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-bottom: 3rem;
    padding-top: 0.1rem;
    line-height: 2.5rem;
}

.arrow{
    top: 35%;
    width: 35px;
    height: 35px;
    right: -5%;
    position: absolute !important;
    box-sizing: border-box;
}

