/* Nav */
.bg > div:first-child{
    padding-top: 8px;
    height: 65px;
    background: #181a20;
}

.top{
    position: relative;
    margin: auto;
    max-width: 1528px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat','Saira',sans-serif;
    font-size: 1.6rem;
    padding-right: 85px;
    padding-left: 85px;
    padding-bottom: 10px;
}

.top div:first-child{
    flex-grow: 1!important;
}

.link a img{
    width: 130px;
    height: 35px;
    vertical-align: middle;
}

.header.menu_hidden_mobile{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0 !important;
    color: #fff;
    font-style: none;
    margin-top: 5px;
}

.dropdown{
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
    position: relative;
    display: inline-block;
}

.button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
}

.pt_2{
    display: flex;
    align-items: center;
    font-family: 'Saira';
}

.dropdown_content img{
    width: 22px;
    height: 15px;
    vertical-align: middle;
    overflow: clip;
}

.pt_2 span{
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.pt_2 i{
    margin-bottom: 0.1rem;
    font-weight: 900;
}

/* Image */
.selection{
    width: 100%;
    overflow: hidden;
    height: 75vh;
    position: relative;
    box-sizing: border-box;
}

.yellow{
    opacity: 1;
    transition: all 2s ease-in-out;
    position: relative;
    height: 100%;
    width: 100%;

}

.circle1{
    width: 6100px;
    height: 6100px;
    background: #ffcd00;
    mix-blend-mode: color-burn;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    left: 109%;
    right: 109%;
    transform: translate(-50%,-50%);
}

.circle2{
    width: 2100px;
    height: 2100px;
    background: gold;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    right: -135%;
    top: 95%;
    transform: translate(-50%,-50%);
}


.hidden_mobile img:first-child{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.hidden_mobile img:nth-child(2){
    position: absolute;
    bottom: 0;
    left: -10;
    width: 100%;
}

.hidden_mobile img:nth-child(3){
    position: absolute;
    top: -10%;
    bottom: -10;
    right: -10%;
    width: 65%;
}

.text{
    height: 10%;
    opacity: 1;
    transition: all 2s ease-out;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'Montserrat','Saira',sans-serif;
    color: #212529;
}

.text p{
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: -0.5rem;
}

.text h3{
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 9rem;
    margin: 0;
}

.text h4{
    font-size: 5.8rem;
    font-weight: 500;
    margin: 0;
}

.text h2{
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 9rem;
    margin: 0;
}